@media all and (min-width: 992px) {
    #main-nav .navbar-nav .nav-item .nav-link {
        padding: 10px;
    }
}

@media all and (max-width: 580px) {
    #main-nav {
        background-color: rgba(225, 105, 78, 0.85);
    }
    #main-nav .navbar-brand {
        color: white;
    }
    #main-nav .navbar-nav .nav-item .nav-link {
        color: white;
        padding: 10px;
    }
    #description {
        flex-direction: column;
    }
    .modal {}
    #modal-content {
        box-sizing: content-box;
        top: 0;
        width: 400px;
/*        display: flex;*/
        flex-direction: column;
        text-align: center;
        top: 0;
        align-items: flex-start;
        /*        overflow-y: scroll;*/
    }
    #description {
        flex-direction: column;
    }
    
    #description-text {
        width: 90%;
/*        padding: 0 15px 0 15px;*/
        margin: auto;
    }
    
    .modal-desc {
        width: 100%;
        padding: 0;
        justify-content: center;
    }
    #beer-name {
        width: 100%;
        
    }
    
    #beer-img {
        float: none;
/*        chrome i firefox*/
        -moz-width: 100%;
        -webkit-width: 100%;
/*        IE bez width*/
    }
    #beer-img {
        padding-left: 0px;
    }
    .abbreviations {
        display: inline;
    }
    .other-beers {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    
    .other-b {
    margin: 15px;
}
    
    .other-beer-options {
        width: 100%;
        font-family: 'Lobster', cursive;
        font-size: 36px;
    }
    
    ul {
       list-style-type: none;
    }
    
    li {
        padding-right: 35px;
    }
}





