* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.preloader {
    background-color: lightblue;
    height: 100vh;
    width: 100%;
    position: relative;
}

.path {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 150px;
    width: 150px;
    /*    border: 2px solid white;*/
}

.square {
    height: 25px;
    width: 25px;
    background-color: white;
    position: absolute;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.square:nth-child(1) {
    top: 0;
    left: 0;
    animation-name: preload1;
}

.square:nth-child(2) {
    bottom: 0;
    right: 0;
    animation-name: preload2;
}

@keyframes preload1 {
    0% {
        top: 0;
        left: 0;
        transform: rotate(0deg) scale(1);
    }
    25% {
        left: 0;
        top: 125px;
        transform: rotate(45deg) scale(1.5);
    }
    50% {
        left: 125px;
        top: 125px;
        transform: rotate(90deg) scale(1);
    }
    75% {
        left: 125px;
        top: 0;
        transform: rotate(135deg) scale(1.5);
    }
    100% {
        top: 0;
        left: 0;
        transform: rotate(180deg) scale(1);
    }
}

@keyframes preload2 {
    0% {
        bottom: 0;
        right: 0;
        transform: rotate(0deg) scale(1);
    }
    25% {
        bottom: 125px;
        right: 0;
        transform: rotate(45deg) scale(1.5);
    }
    50% {
        bottom: 125px;
        right: 125px;
        transform: rotate(90deg) scale(1);
    }
    75% {
        bottom: 0;
        right: 125px;
        transform: rotate(135deg) scale(1.5);
    }
    100% {
        bottom: 0;
        right: 0;
        transform: rotate(180deg) scale(1);
    }
}