#main-footer {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 5%;
  background-color: #213b50;
  color: #fff; }
  #main-footer .row .col-1-2 {
    display: flex;
    flex-direction: column; }
    #main-footer .row .col-1-2 h2 {
      text-align: left; }
      #main-footer .row .col-1-2 h2 .span1 {
        color: #1ac056; }
    #main-footer .row .col-1-2 address {
      font-style: normal; }
    #main-footer .row .col-1-2 a {
      color: #1ac056;
      transition: all 0.3s; }
      #main-footer .row .col-1-2 aa:hover {
        color: #fff; }
    #main-footer .row .col-1-2 .social-icons {
      margin-top: 30px; }
      #main-footer .row .col-1-2 .social-icons .social-link {
        color: #fff;
        border: 1px solid #fff;
        height: 50px;
        width: 50px;
        font-size: 1.5em;
        display: inline-block;
        margin-right: 10px;
        text-align: center;
        line-height: 50px; }
  #main-footer .row .col-1-2 form input[type="text"] {
    width: 100%;
    background-color: #2b4a64;
    padding: 10px;
    margin: 10px 0;
    border: none; }
    #main-footer .row .col-1-2 form input[type="text"]input[type="text"]:focus {
      background-color: #4b657b; }
  #main-footer .row .col-1-2 form input[type="email"] {
    width: 100%;
    background-color: #2b4a64;
    padding: 10px;
    margin: 10px 0;
    border: none; }
    #main-footer .row .col-1-2 form input[type="email"]input[type="email"]:focus {
      background-color: #4b657b; }
  #main-footer .row .col-1-2 form textarea {
    width: 100%;
    background-color: #2b4a64;
    padding: 10px;
    margin: 10px 0;
    border: none; }
    #main-footer .row .col-1-2 form textareatextarea:focus {
      background-color: #4b657b; }
  #main-footer .row .col-1-2 form input[type="submit"] {
    text-transform: uppercase;
    padding: 20px;
    color: #fff;
    background-color: #1ac056;
    font-weight: 700;
    border: none;
    float: right;
    transition: all 0.3s;
    cursor: pointer; }
  #main-footer .row .col-1-2 form input[type="submit"]:hover {
    color: #1ac056;
    background-color: #fff; }

@media all and (max-width: 500px) {
  #main-footer .row .col-1-2 {
    display: flex;
    justify-content: center !important;
    text-align: center !important; }
    #main-footer .row .col-1-2 h2 {
      justify-content: center !important;
      text-align: center !important; } }
