.sekcja-about {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #f9fcfe;
  padding: 5% 10%; }
  .sekcja-about .container .row .col-lg-12 .span2 {
    color: #1ac056;
    font-weight: 300; }
  .sekcja-about .container .row .kolumna-zdjecie col-1-2 {
    text-align: center; }
  .sekcja-about .container .row .kolumna-zdjecie .about-img {
    max-height: 350px;
    border: 10px solid #fff;
    border-radius: 15px;
    object-fit: cover; }
  .sekcja-about .container .row .kolumna-tekst {
    text-align: justify; }
