<section class="skewedBoxB">

</section>
<div class="container-fluid footer-content">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2 col-1">
            <img src="../../assets/img/logo.svg" alt="Fylo logo" style="margin-bottom: 30px;">
            <p class="contact"><img src="../../assets/img/icon-phone.svg" alt="Phone icon" style="margin-right: 10px;">Phone: +1-543-123-4567</p>
            <p class="contact"><img src="../../assets/img/icon-email.svg" alt="Email icon" style="margin-right: 10px;">example@fylo.com</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 links col-2">
            <div class="col-md-4 baby-col ">
                <ul>Fylo
                    <li>Desktop App</li>
                    <li>Mobile App</li>
                    <li>Pricing</li>
                    <li>Feature</li>
                </ul>
            </div>
            <div class="col-md-4 baby-col ">
                <ul>Company
                    <li>About Us</li>
                    <li>Jobs</li>
                    <li>Press</li>
                    <li>Blog</li>
                </ul>
            </div>
            <div class="col-md-4 baby-col ">
                <ul>Support
                    <li>Contact Us</li>
                    <li>Terms</li>
                    <li>Privacy</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 footer-join col-3">
            <p>Receive updates from us, including tips and tricks on how to improve your workflow.</p>
            <input type="text" placeholder="">
            <button type="button" class="btn btn-green">Join</button>
        </div>
    </div>
</div>