.pudelko {
    width: 350px;
    height: 350px;
    border: 4px double rgba(128, 128, 128, 0.78);
    border-radius: 50%;
    overflow: hidden;
    
}

.pudelko img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: 2s;
}

.pudelko img:hover {
    transform: scale(1.8);
}

