<div class="container-fluid cont">
    <div class="row">
        <div class="col-md-12 granat" style="text-align: center; padding-right: 0;">
            <h2>Stay productive, wherever you are</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-s-12 col-md-4 image-col">
            <img style="" src="../../assets/img/illustration-features.svg" alt="illstration features">
        </div>
        <div class="col-s-12 col-md-4">
            <div class="detail">
                <div class="title granat">All platforms, all devices, all your files</div>
                <div class="description fiolet">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid velit rerum qui, aperiam quo temporibus nulla unde atque nesciunt quidem!</div>
            </div>
            <div class="detail">
                <div class="titl granat">Security you can trust</div>
                <div class="description fiolet">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio culpa odio dolore omnis veniam. Expedita?</div>
            </div>
        </div>
        <div class="col-s-12 col-md-4">
            <div class="detail">
                <div class="title granat">Real-time collaboration</div>
                <div class="description fiolet">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam autem veritatis dolore officia deleniti cum repellendus exercitationem quidem!</div>
            </div>
            <div class="detail">
                <div class="title granat">Automatic backups</div>
                <div class="description fiolet">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat et, possimus iure vero porro eligendi aliquam!</div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 90px;">
        <div class="col-md-12 granat" style="text-align: center; padding-right: 0;">
            <h2 style="margin-bottom: 30px;">Get early access today</h2>
            <p>It only takes one minute to sign up and our fee starer tier is extremley generous. If you have any questions, our support team would be happy to help you.</p>
            <input type="text" placeholder="email@example.com">
            <button type="button" class="btn btn-green">Join</button>
        </div>
    </div>
</div>