#portfolio {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 5% 10%;
  text-align: center; }
  #portfolio .header3 {
    font-weight: 400;
    font-family: 'Roboto', sans-serif; }
  #portfolio .span2 {
    color: #1ac056;
    font-weight: 300; }
  #portfolio .portfolio-items {
    font-size: 0; }
    #portfolio .portfolio-items .row .kolumny-portfolio {
      padding: 0; }
      #portfolio .portfolio-items .row .kolumny-portfolio .single-item {
        height: 370px;
        background-size: cover;
        background-position: center;
        width: 100%; }
        #portfolio .portfolio-items .row .kolumny-portfolio .single-item#portfolio-item-1 {
          background-image: url(../../img/portfolio1.jpg); }
        #portfolio .portfolio-items .row .kolumny-portfolio .single-item#portfolio-item-2 {
          background-image: url(../../img/portfolio2.jpg); }
        #portfolio .portfolio-items .row .kolumny-portfolio .single-item#portfolio-item-3 {
          background-image: url(../../img/portfolio3.jpg); }
        #portfolio .portfolio-items .row .kolumny-portfolio .single-item .item-mask {
          height: 100%;
          background-color: rgba(33, 59, 80, 0.7);
          padding: 5px;
          opacity: 0;
          transition: all 0.3s; }
          #portfolio .portfolio-items .row .kolumny-portfolio .single-item .item-mask.item-mask:hover {
            opacity: 1; }
          #portfolio .portfolio-items .row .kolumny-portfolio .single-item .item-mask .item-mask-inner {
            border: 1px solid #fff;
            height: 100%;
            position: relative; }
            #portfolio .portfolio-items .row .kolumny-portfolio .single-item .item-mask .item-mask-inner .item-content {
              font-size: 16px;
              color: #fff;
              position: absolute;
              width: 100%;
              top: 50%;
              transform: translateY(-50%); }
              #portfolio .portfolio-items .row .kolumny-portfolio .single-item .item-mask .item-mask-inner .item-content .portfolio-link {
                color: #1ac056;
                font-size: 2em;
                transition: all 0.3s; }
                #portfolio .portfolio-items .row .kolumny-portfolio .single-item .item-mask .item-mask-inner .item-content .portfolio-link.portfolio-link:hover {
                  color: #fff; }
