.main-header {
    height: 100vh;
    background-image: url(../img/145.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
}

.main-row {}

.header-text {
    /*    font-family: 'Josefin Sans', sans-serif;*/
    font-weight: 700;
}


/*Style takie same dla obydwu kolumn*/

.kolumna-styl {
    /*    height: 80vh;*/
    width: 70%;
    border-radius: 5px;
    padding: 20px 10px;
    /*    margin: 10px;*/
}


/*stylowanie części login*/

.kolumna-login {
    background-color: rgba(255, 145, 149, 0.91);
    color: white;
}


/*stylowanie części to-do list*/

.kolumna-lista {
    background-color: rgba(204, 204, 204, 0.77);
}


/*stylowanie inputów z kormularza*/

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


/* Style dla wszystkich guzików */

button {
    background-color: #30B253;
    border-radius: 5px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

span {
    /*    color: lightgrey;*/
    /*    opacity: 0.8;*/
}


/*część to-do list*/


/* Remove margins and padding from the list */

ul {
    margin: 0;
    padding: 0;
}


/* Style the list items */

ul li {
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    padding: 12px 50px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Set all odd list items to a different color (zebra-stripes) */

ul li:nth-child(odd) {
    background: #f9f9f9;
}


/* Darker background-color on hover */

ul li:hover {
    background: #ddd;
}


/* When clicked on, add a background color and strike out text */

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}


/* Add a "checked" mark when clicked on */

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}


/* Style the close button */

.close {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    border-radius: 5px;
    background-color: #f44336;
    color: black;
}


/* Style the header */

.header {
    border-radius: 5px;
    background-color: #30B253;
    padding: 30px 40px;
    color: white;
    text-align: center;
}


/* Clear floats after the header */

.header:after {
    content: "";
    display: table;
    clear: both;
}


/* Style the input */

input {
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}


/* Style the "Add" button */

.addBtn {
    border-radius: 5px;
    padding: 10px;
    /*  width: 25%;*/
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: #bbb;
}