#skills {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 5% 0;
  text-align: center; }
  #skills .skills-container .row1 {
    padding: 0 2%; }
    #skills .skills-container .row1 .col-lg-12 .header3 {
      font-weight: 400;
      font-family: 'Roboto', sans-serif; }
    #skills .skills-container .row1 .col-lg-12 .span2 {
      color: #1ac056;
      font-weight: 300; }
  #skills .skills-container .row2 {
    justify-content: center;
    padding: 0 20%; }
    #skills .skills-container .row2 .icons-container {
      margin: 0;
      padding: 0; }
      #skills .skills-container .row2 .icons-container .skill-icon {
        display: inline-block;
        margin: 40px; }
        #skills .skills-container .row2 .icons-container .skill-icon figcaption {
          margin-top: 10px; }
