#main-nav {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #fff;
  position: fixed;
  z-index: 20; }
  #main-nav .row .duze-col {
    display: flex;
    justify-content: flex-end; }
    #main-nav .row .duze-col label[for="responsive-menu"] {
      display: none; }
    #main-nav .row .duze-col #responsive-menu {
      display: none; }
    #main-nav .row .duze-col .list-box {
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
      #main-nav .row .duze-col .list-box .menu-item {
        display: flex;
        justify-content: center;
        padding: 15px 0;
        text-decoration: none;
        list-style-type: none; }
        #main-nav .row .duze-col .list-box .menu-item a {
          color: #1ac056;
          text-decoration: none; }

@media all and (max-width: 992px) {
  #main-nav .row .duze-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center; }
    #main-nav .row .duze-col .responsive-menu:checked {
      display: flex;
      justify-content: flex-end; }
    #main-nav .row .duze-col label[for="responsive-menu"] {
      color: #1ac056;
      font-size: 2em;
      padding: 10px;
      display: flex;
      justify-content: flex-end; }
    #main-nav .row .duze-col #responsive-menu:checked + ul {
      display: flex;
      flex-direction: column; }
    #main-nav .row .duze-col .list-box {
      display: none; }
      #main-nav .row .duze-col .list-box .menu-item {
        padding: 15px;
        justify-content: flex-end; } }

.main-header {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-image: url(../../img/header-background.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; }
  .main-header .header-caption .header1 {
    font-size: 4em;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px; }
    .main-header .header-caption .header1 .span1 {
      color: #1ac056;
      font-weight: 400; }
  .main-header .header-caption .header2 {
    font-size: 3em;
    font-weight: 300; }

.sekcja-about {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #f9fcfe;
  padding: 5% 10%; }
  .sekcja-about .container .row .col-lg-12 .span2 {
    color: #1ac056;
    font-weight: 300; }
  .sekcja-about .container .row .kolumna-zdjecie col-1-2 {
    text-align: center; }
  .sekcja-about .container .row .kolumna-zdjecie .about-img {
    max-height: 350px;
    border: 10px solid #fff;
    border-radius: 15px;
    object-fit: cover; }
  .sekcja-about .container .row .kolumna-tekst {
    text-align: justify; }

#skills {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 5% 0;
  text-align: center; }
  #skills .skills-container .row1 {
    padding: 0 2%; }
    #skills .skills-container .row1 .col-lg-12 .header3 {
      font-weight: 400;
      font-family: 'Roboto', sans-serif; }
    #skills .skills-container .row1 .col-lg-12 .span2 {
      color: #1ac056;
      font-weight: 300; }
  #skills .skills-container .row2 {
    justify-content: center;
    padding: 0 20%; }
    #skills .skills-container .row2 .icons-container {
      margin: 0;
      padding: 0; }
      #skills .skills-container .row2 .icons-container .skill-icon {
        display: inline-block;
        margin: 40px; }
        #skills .skills-container .row2 .icons-container .skill-icon figcaption {
          margin-top: 10px; }

#portfolio {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 5% 10%;
  text-align: center; }
  #portfolio .header3 {
    font-weight: 400;
    font-family: 'Roboto', sans-serif; }
  #portfolio .span2 {
    color: #1ac056;
    font-weight: 300; }
  #portfolio .portfolio-items {
    font-size: 0; }
    #portfolio .portfolio-items .row .kolumny-portfolio {
      padding: 0; }
      #portfolio .portfolio-items .row .kolumny-portfolio .single-item {
        height: 370px;
        background-size: cover;
        background-position: center;
        width: 100%; }
        #portfolio .portfolio-items .row .kolumny-portfolio .single-item#portfolio-item-1 {
          background-image: url(../../img/portfolio1.jpg); }
        #portfolio .portfolio-items .row .kolumny-portfolio .single-item#portfolio-item-2 {
          background-image: url(../../img/portfolio2.jpg); }
        #portfolio .portfolio-items .row .kolumny-portfolio .single-item#portfolio-item-3 {
          background-image: url(../../img/portfolio3.jpg); }
        #portfolio .portfolio-items .row .kolumny-portfolio .single-item .item-mask {
          height: 100%;
          background-color: rgba(33, 59, 80, 0.7);
          padding: 5px;
          opacity: 0;
          transition: all 0.3s; }
          #portfolio .portfolio-items .row .kolumny-portfolio .single-item .item-mask.item-mask:hover {
            opacity: 1; }
          #portfolio .portfolio-items .row .kolumny-portfolio .single-item .item-mask .item-mask-inner {
            border: 1px solid #fff;
            height: 100%;
            position: relative; }
            #portfolio .portfolio-items .row .kolumny-portfolio .single-item .item-mask .item-mask-inner .item-content {
              font-size: 16px;
              color: #fff;
              position: absolute;
              width: 100%;
              top: 50%;
              transform: translateY(-50%); }
              #portfolio .portfolio-items .row .kolumny-portfolio .single-item .item-mask .item-mask-inner .item-content .portfolio-link {
                color: #1ac056;
                font-size: 2em;
                transition: all 0.3s; }
                #portfolio .portfolio-items .row .kolumny-portfolio .single-item .item-mask .item-mask-inner .item-content .portfolio-link.portfolio-link:hover {
                  color: #fff; }

#main-footer {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 5%;
  background-color: #213b50;
  color: #fff; }
  #main-footer .row .col-1-2 {
    display: flex;
    flex-direction: column; }
    #main-footer .row .col-1-2 h2 {
      text-align: left; }
      #main-footer .row .col-1-2 h2 .span1 {
        color: #1ac056; }
    #main-footer .row .col-1-2 address {
      font-style: normal; }
    #main-footer .row .col-1-2 a {
      color: #1ac056;
      transition: all 0.3s; }
      #main-footer .row .col-1-2 aa:hover {
        color: #fff; }
    #main-footer .row .col-1-2 .social-icons {
      margin-top: 30px; }
      #main-footer .row .col-1-2 .social-icons .social-link {
        color: #fff;
        border: 1px solid #fff;
        height: 50px;
        width: 50px;
        font-size: 1.5em;
        display: inline-block;
        margin-right: 10px;
        text-align: center;
        line-height: 50px; }
  #main-footer .row .col-1-2 form input[type="text"] {
    width: 100%;
    background-color: #2b4a64;
    padding: 10px;
    margin: 10px 0;
    border: none; }
    #main-footer .row .col-1-2 form input[type="text"]input[type="text"]:focus {
      background-color: #4b657b; }
  #main-footer .row .col-1-2 form input[type="email"] {
    width: 100%;
    background-color: #2b4a64;
    padding: 10px;
    margin: 10px 0;
    border: none; }
    #main-footer .row .col-1-2 form input[type="email"]input[type="email"]:focus {
      background-color: #4b657b; }
  #main-footer .row .col-1-2 form textarea {
    width: 100%;
    background-color: #2b4a64;
    padding: 10px;
    margin: 10px 0;
    border: none; }
    #main-footer .row .col-1-2 form textareatextarea:focus {
      background-color: #4b657b; }
  #main-footer .row .col-1-2 form input[type="submit"] {
    text-transform: uppercase;
    padding: 20px;
    color: #fff;
    background-color: #1ac056;
    font-weight: 700;
    border: none;
    float: right;
    transition: all 0.3s;
    cursor: pointer; }
  #main-footer .row .col-1-2 form input[type="submit"]:hover {
    color: #1ac056;
    background-color: #fff; }

@media all and (max-width: 500px) {
  #main-footer .row .col-1-2 {
    display: flex;
    justify-content: center !important;
    text-align: center !important; }
    #main-footer .row .col-1-2 h2 {
      justify-content: center !important;
      text-align: center !important; } }
