#skills {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 5% 0;
    text-align: center;
    .skills-container {
        .row1 {
            padding: 0 2%;
            .col-lg-12 {
                .header3 {
                   font-weight: 400;
	               font-family: 'Roboto', sans-serif; 
                }
                .span2 {
                  color: #1ac056;
	               font-weight: 300;  
                }
            }
        }
        .row2 {
            justify-content: center;
            padding: 0 20%;
            .icons-container {
                    margin: 0;
                    padding: 0;
                .skill-icon {
                    display: inline-block;
	                margin: 40px;
                    img {
                        
                    }
                    figcaption {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
} 







