#main-nav {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #fff;
  position: fixed;
  z-index: 20; }
  #main-nav .row .duze-col {
    display: flex;
    justify-content: flex-end; }
    #main-nav .row .duze-col label[for="responsive-menu"] {
      display: none; }
    #main-nav .row .duze-col #responsive-menu {
      display: none; }
    #main-nav .row .duze-col .list-box {
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
      #main-nav .row .duze-col .list-box .menu-item {
        display: flex;
        justify-content: center;
        padding: 15px 0;
        text-decoration: none;
        list-style-type: none; }
        #main-nav .row .duze-col .list-box .menu-item a {
          color: #1ac056;
          text-decoration: none; }

@media all and (max-width: 992px) {
  #main-nav .row .duze-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center; }
    #main-nav .row .duze-col .responsive-menu:checked {
      display: flex;
      justify-content: flex-end; }
    #main-nav .row .duze-col label[for="responsive-menu"] {
      color: #1ac056;
      font-size: 2em;
      padding: 10px;
      display: flex;
      justify-content: flex-end; }
    #main-nav .row .duze-col #responsive-menu:checked + ul {
      display: flex;
      flex-direction: column; }
    #main-nav .row .duze-col .list-box {
      display: none; }
      #main-nav .row .duze-col .list-box .menu-item {
        padding: 15px;
        justify-content: flex-end; } }
