@media all and (min-width: 1170px) {
    header {
        background-image: url(../obrazy/man-1.jpg);
    }
    h1 {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media all and (max-width: 1170px) {
    header {
        background-image: url(../obrazy/man-2.jpg);
        height: 70vh;
    }
    h1 {
        right: 0;
        font-size: 20px;
        padding: 25px;
    }
    
    span {
        font-size: 26px;
        padding: 10px 10px 10px 0;;
    }
}

@media all and (max-width: 992px) {
    header {
        background-image: url(../obrazy/man-1.jpg);
        height: 50vh;
    }
    h1 {
        top: 50vh;
        left: 0;
        right: 0;
        margin: auto;
        color: black;
        text-align: center;
        font-size: 20px;
        padding: 10px;
    }
    span {
        font-size: 26px;
        padding: 10px;
    }
}