body {
    margin: 0;
    font-family: 'Questrial', sans-serif;
    background-color: #E1B753;
  
}


/*nawigacja*/

.nav-beer {
    font-family: 'Lobster', cursive;
    font-size: 38px;
}

#nav-app {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}


/*header*/

.beer {
    display: flex;
    align-content: center;
    height: 350px;
    
}

.beerAppear {
      -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}

.beer-inside {
    width: 100%;
    height: 300px;
    background-color: #E2D8A3;
    transition: all 0.4s;
}

.beer-inside:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.4s;
}

.beer-maska {
    height: 100%;
    padding: 0 5px 0 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  
}

.beer-maska:hover {
    background-color: #789F8A;
    transition: all 0.4s;

}

.beer-maska:hover .beer-name {
    color: white;
    transition: all 0.4s;
}

#beer-list {
    display: flex;
    padding-top: 100px;
    justify-content: center;
    flex-direction: column;
}


.beer-img img {
    height: 150px;
}

.beer-name {
    color: #E1694E;
    font-size: 22px;
    font-weight: 600;
}



.beer-tagline {
    font-size: 14px;
}

/*loader*/
/* Animation */
/* Helpers */
.loader-parent {
    display: none;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-bottom: 30px;
    
}
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #E1694E;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
    
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* The Modal (background) */
.modal {
    font-size: 14px;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1040; /* Sit on top */
    
    width: 100%; /* Full width */
    height: 100%; /* Full height */
/*    overflow: auto;  Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
/*    overflow: hidden;*/
    justify-content: center;
/*    align-items: center;*/
    align-content: center;
    

    
}

/* Modal Content/Box */
#modal-content {
/*    width: 50%;*/
    top: 50%;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    overflow: auto;
    
}


#description {
/*    display: flex;*/
    justify-content: center;
    flex-direction: row;
}

.modal-desc {
    
    display: flex;
    flex-direction: column;
    padding: 0 30px 0 50px;
}

#beer-img{
    float: left;
    height: 250px;
    padding-left: 20px;
    object-fit: contain;
}
#beer-name {
    padding: 0;
    margin: 0;
    font-size: 36px;
    width: 60%;
    font-family: 'Lobster', cursive;
}

.abbreviations {
    display: flex;
    flex-direction: row;
}

.abbr {
    font-weight: 600;
    padding-right: 5px;
}

.abbr-val {
    padding-right: 15px;
}

#description-text {
    width: 400px;
   
    padding-top: 15px;
}

.other-beers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.other-b {
    margin: 30px;
    width: 120px;
    height: 120px;
    background-color: #E2D8A3;
    border-radius: 5px;
    line-height: 100px;
    padding: 7px;  
}

#enjoy {
    font-weight: 600;
    margin-top: 20px;
}

.other-b:hover {
    background-color: #789F8A;
    transition: all 0.4s;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.other-b:hover .beer-name-tiny {
    display: block;
    overflow: hidden;
    height: 80px;
}

.other-b:hover .beer-img-tiny {
    display: none;
}

.beer-img-tiny {
    height: 80px;
}

.beer-name-tiny  {
    display: none;
    color: white;
    font-size: 16px;
    padding: 0;
    margin: 0;
    
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.other-beer-options {
        width: 100%;
        font-family: 'Lobster', cursive;
        font-size: 36px;
    }