<section class="fill">
    <div class="nav">
        <div class="logo">
            <img src="../../assets/img/logo.svg" alt="Fylo logo">
        </div>
        <div class="nav-buttons">
            <button type="button" class="btn btn-link">Sign In</button>
            <button type="button" class="btn btn-green">Sign Up</button>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-left">
                <div class="inner">
                    <h2 class="main-header">All your files in one secure location, accessible anyhere.</h2>
                    <button type="button" class="btn btn-green btn-big">Get Started</button>
                </div>
            </div>
            <div class="col-md-5 col-sm-12 col-right">
                <img src="../../assets/img/illustration-hero.svg" alt="Hero illustration">
            </div>
        </div>
    </div>
</section>
<section class="skewedBox">
    <!-- <div class="nav content"></div> -->
    <!-- <div class="content">Lorem ipsum cosstakm</div> -->
</section>