body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
}


/*nawigacja*/

.navbar-collapse {
    
}

#main-nav.transparent-blue, .navbar-collapse.transparent-blue2 {
    background-color: rgba(14, 216, 214, 0.63);
}

#main-nav {
/*    height: 50px;*/
    display: flex;
    justify-content: space-around;
    transition: all 0.4s;
}

#main-nav .navbar-brand,
#main-nav .navbar-toggler,
#main-nav .navbar-toggler-icon,
#main-nav .collapse navbar-collapse,
#main-nav .nav-item .nav-link {
    color: white;
}

#main-nav .navbar-brand-font {
    font-family: 'Droid Serif', serif;
}

#main-nav .nav-item .nav-link {
    text-transform: uppercase;
}


/*header*/

.header {
    background-image: url('../IMG_3296.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    /*    display: flex*/
}

.header .header-box {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.header .header-box .header1,
.header .header-box .header2,
.header .header-box .guzik-viewmore {
    color: white;
}

.header .header-box .header1 {
    font-size: 24px;
    font-family: 'Droid Serif', serif;
}

.header .header-box .header2 {
    text-transform: uppercase;
    font-size: 40px;
}

.header .header-box .guzik-viewmore {
    text-transform: uppercase;
    color: white;
    background-color: #0ed8d6;
    font-size: 14px;
    padding: 9px 25px;
    border: 1px solid #0ed8d6;
    transition: all 0.4s;
}

.header .header-box .guzik-viewmore:hover {
    color: #0ed8d6;
    background-color: white;
    border: 1px solid #0ed8d6;
}

.mon {
    font-family: 'Montserrat', sans-serif;
}

.navbar-color {
    color: white;
}


/*sekcja services*/

.sekcja-services {
   
    width: 100%;
/*    height: 130vh;*/
    background-color: white;
}

.services-rzad2,
.services-rzad1 {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.sekcja-services .container .row .services-rzad1 {
    padding: 8%;
}

.sekcja-services .container .row .services-rzad2 {
    padding: 0 0 5% 0;
}

.services-icon {
    text-align: center;
}

.services-icon i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0ed8d6;
    line-height: 50px;
    color: white;
    transition: all 0.5s;
    border: 1px solid white;
}

.services-icon i:hover {
    background-color: #FFF;
    color: #0ed8d6;
    transform: rotate(360deg);
    border: 1px solid #0ed8d6;
}

.header-pow {
    font-weight: 600;
    margin: 0 10px 20px 10px;
    
    
    padding: 10px 0;
    text-transform: capitalize; 
}

.span-pow {
    display: block;
    font-weight: 400;
    margin: 10px;
    font-size: 14px;
}

.services-rzad1 {
    padding-top: 10%;
    padding-bottom: 10%;
}

/*
.services-text .span-pow {
    padding-bottom: 10%;
}
*/

.services-rzad1 h2 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    
}


/*portfolio*/

#portfolio {
    background-color: #f7f7f7;
}

.container-portfolio {
    width: 100%;
/*    height: 100vh;*/
    
    justify-content: center;
    padding:  6% 8%;
}

.opinajace {
/*    height: 300px;*/
    overflow:hidden;
    margin-bottom: 0;
    
}

.podpis {
    background-color: white;
    
}

.zdjecie{
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.4s;
}

.zdjecie:hover {
    transform: scale(1.2);
}


.zdjecie1 {
    background-image: url(../zdj/13.png); 
}
.zdjecie2 {
    background-image: url(../zdj/14.png); 
}
.zdjecie3 {
    background-image: url(../zdj/15.png); 
}
.zdjecie4 {
    background-image: url(../zdj/9.png); 
}
.zdjecie5 {
    background-image: url(../zdj/17.png); 
}
.zdjecie6 {
    background-image: url(../zdj/18.png); 
}

.col-portfolio1 {
    text-align: center;
    font-weight: 600;
}

.col-portfolio1 h2 {
    text-transform: uppercase;
    
}
.col-portfolio1 span {
    text-transform: none;
    display: block;
    
}

.col-portfolio1 {
/*    padding: 6%;*/
    padding-bottom: 5%;
}


.fa-plus {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.div-overflow {
    
}


.div-domaski {
    position: relative;
    background-color: rgba(14, 216, 214, 0.5);
    width: 100%;
    height: 300px;
    opacity: 0;  
    transition: all 0.4s;
}

.div-domaski:hover {
    opacity: 1;
}

/*sekcja team*/

.sekcja-team {
/*    width: 100%;*/
/*    height: 100vh;*/
    justify-content: center;
    padding:  5% 8%;
}

.team-picture {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 8%;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.social {
    width: 30px;
    height: 30px;
    background-color: black;
    transition: all 0.4s;
    border-radius: 50%;
    margin:0  6px;
    line-height: 30px;

}

.social:hover {
    background-color: #0ed8d6;
    
    
}

.fa-facebook, .fa-twitter, .fa-linkedin, .fa-instagram {
    color: white;
    
}


.lorem-tekst {
    padding-top: 5%;
}


/* kontakt-formularz*/

.row-container {
    margin: 60px 0;
}

.send-message {
/*    display: flex;*/
    text-transform: uppercase;
    background-color: #0ed8d6;
    color: white;
    
}

#contact {
    
    background: linear-gradient( rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)), url(../bootstrap-project-photos/img/footer/world-map.jpg);
    color: white;
    
}

.container-contact {
    display: flex;
    justify-content: center;
/*    padding: 10% 0;*/
}

.btn-send {
    text-align: center;
    margin: 5%;
}

.form-kontakt {
    width: 100%;
/*    margin: 5%;*/
}

/*footer*/

#footer  {
    margin: 1% ;

}

.footer-row {
/*
    display: flex;
    flex-direction: row;
    
*/
    
}

.footer-privacy {
/*    display: inline-block;*/
}

.footer-privacy ul{
/*    padding: 0 2% 0 0;*/
/*    margin: 2%;*/
/*    display: inline-block;*/
/*    text-align: center;*/
    padding: 0;
    
}

.footer-privacy ul li {
    list-style-type: none;
    display: inline-block;    
}

.footer-privacy ul li a {
    text-decoration: none;
    color: black;
}

.formularz {
    width: 100%;
    margin: 2% 0;
    border-radius: 5px;
    height: 200px;
}

.form-polowa {
    height: 200px;
    margin: 0 0 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.send-mesage {
    padding: 2%;
    margin: 2%;
}

input[placeholder], textarea[placeholder] {
    padding: 5px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}