@media all and (max-width: 992px) {
    #main-nav {
        color: white;
        background-color: rgba(14, 216, 214, 0.5);
    }
    
    #main-nav .navbar-brand  {
        color: white;
    }
    
    #main-nav .navbar-nav .nav-item .nav-link {
        color: white;
        padding: 10px;    
    }
}