@media all and (max-width: 1170px) {
    #portfolio .single-item {
        /*        width: 50%;*/
    }
    #portfolio .single-item:last-child {
        /*        width: 100%;*/
    }
}

@media all and (max-width: 992px) {
    #main-nav label[for="responsive-menu"] {
        color: #1ac056;
        font-size: 2em;
        padding: 10px;
        /*		display: inline-block;*/
        display: flex;
        /*        flex-direction: column;*/
        justify-content: flex-end;
    }
    #main-nav ul {
        display: none;
    }
    #main-nav #responsive-menu:checked+ul {
        display: flex;
        flex-direction: column;
    }
    .duze-col {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: center;
    }
    .responsive-menu:checked {
        display: flex;
        justify-content: flex-end;
    }
    #main-nav ul .menu-item {
        /*		display: block;*/
        padding: 15px;
        justify-content: flex-end;
    }
    .col-1-2 {
        /*        float: left;*/
        /*        width: 100%;*/
        text-align: center;
    }
    #main-footer h2 {
        text-align: center;
    }
    #portfolio .single-item {
        /*        width: 100%;*/
    }
}

@media all and (max-width: 500px) {
    .header-caption {
        width: 100%;
        text-align: center;
    }
    .header1,
    .header2,
    .span1,
    .main-header {
        width: 100%;
        /*        font-size: 42px;*/
    }
    .header3,
    .span2 {
        text-align: center;
        font-size: 24px;
    }
    .icons-container {
        justify-content: center;
        display: flex;
    }
}