@media all and (max-width: 992px) {
    #main-nav {
        background-color: rgba(176, 219, 242, 0.74);
    }
    
    
    #main-nav .navbar-brand  {
        color: white;
    }
    
    #main-nav .navbar-nav .nav-item .nav-link {

        color: white;
        padding: 10px;
        
    }
    
    .header2 {
        font-size: 26px !important;
    }
    
    .header {
        background-position: center;
    }
    

    .sekcja-services {
/*    height: 100vh;*/
    padding-top: 40px;
    }
    
    .link-small {
    display: block;
    }
    
    .link-big {
        display: none;
    }
    
    .carousel-opinie {
        display: none;
    }
}
