@media all and (max-width: 992px) {
    #main-nav {
        background-color: rgba(176, 219, 242, 0.74);
    }
    
    
    #main-nav .navbar-brand  {
        color: white;
    }
    
    #main-nav .navbar-nav .nav-item .nav-link {

        color: white;
        padding: 10px;
        
    }
    
    .header2 {
        font-size: 26px !important;
    }
    
    .header {
        background-position: center;
    }
    

    .sekcja-services {
/*    height: 100vh;*/
    padding-top: 40px;
    }
    
    .link-small {
    display: block;
    background-color: #f0f0f0;
        
    }
    
    #background-pic {
        display: none;
    }
    
    .carousel-opinie {
        display: none;
    }
    
    #gosia3 {
    width: 250px;
    height: 250px;
}
    
    #hidden-pic {
        display: none;
    }
    
    .miamiko {
        margin-bottom: 30px;
    }
    
    .biofeed-pic {
        display: block;
        padding-bottom: 40px;
    }
    
    .carousel-phone {
        display: block;
        font-size: 14px;
        margin: 35px 0 30px 0;
    }


}
