body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

/*nawigacja*/

#main-nav.transparent-blue {
    background-color: rgba(168, 208, 230, 0.75);
}

#main-nav {
    display: flex;
    justify-content: space-around;
    transition: all 0.4s;
}

#main-nav .navbar-brand,
#main-nav .navbar-toggler,
#main-nav .navbar-toggler-icon,
#main-nav .collapse navbar-collapse,
#main-nav .nav-item .nav-link {
    color: white;
}

#main-nav .navbar-brand-font {
    font-family: 'Droid Serif', serif;
}

#main-nav .nav-item .nav-link {
    text-transform: uppercase;
}

/*header*/

.header {
    background-image: url('../zdj/gosia4.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.header .header-box {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.header .header-box .header1,
.header .header-box .header2,
.header .header-box .guzik-viewmore {
    color: white;
}

.header .header-box .header1 {
    font-size: 24px;
    font-family: 'Droid Serif', serif;
}

.header .header-box .header2 {
    text-transform: uppercase;
    font-size: 40px;
}

.header .header-box .guzik-viewmore {
    text-transform: uppercase;
    color: white;
    background-color: #A8D0E6;
    font-size: 14px;
    padding: 9px 25px;
    border: 1px solid #A8D0E6;
    transition: all 0.4s;
}

.header .header-box .guzik-viewmore:hover {
    color: #A8D0E6;
    background-color: white;
    border: 1px solid #A8D0E6;
    cursor: pointer;
}

.mon {
    font-family: 'Montserrat', sans-serif;
}

.navbar-color {
    color: white;
}

.fa-heart {
    color:  #A8D0E6;
}
/*sekcja services*/

.sekcja-services {
   
    width: 100%;
/*    height: 130vh;*/
    background-color: white;
}

.services-rzad2,
.services-rzad1 {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.sekcja-services .container .row .services-rzad1 {
    padding: 8%;
}

.sekcja-services .container .row .services-rzad2 {
    padding: 0 0 5% 0;
}

.services-icon {
    text-align: center;
}

.services-icon i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #A8D0E6;
    line-height: 50px;
    color: white;
    transition: all 0.5s;
    border: 1px solid white;
}

.services-icon i:hover {
    background-color: #FFF;
    color: #F8E9A1;
    transform: rotate(360deg);
    border: 1px solid #F8E9A1;
}

.header-pow {
    font-weight: 600;
/*    margin: 0 10px 20px 10px;*/
    padding: 10px 0;
/*    text-transform: capitalize; */
}

.span-pow {
    display: block;
    font-weight: 400;
    margin: 10px;
    font-size: 14px;
}

.services-rzad1 {
    padding-top: 10%;
    padding-bottom: 10%;
}

.services-rzad1 h2 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;    
}


/*portfolio*/

#portfolio {
    background-color: #f7f7f7;
}

.container-portfolio, .sekcja-services {
    width: 100%;
    justify-content: center;
    padding:  6% 8%;
}

.sekcja-services {
/*    height: 100vh;*/
    padding-top: 150px;;
}

.opinajace {
    overflow:hidden;
    margin-bottom: 0;  
}

.podpis {
    background-color: white;  
}

.zdjecie{
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.4s;
}

.zdjecie:hover {
    transform: scale(1.2);
}

.zdjecie1 {
    background-image: url(../zdj/13.png); 
}
.zdjecie2 {
    background-image: url(../zdj/14.png); 
}
.zdjecie3 {
    background-image: url(../zdj/15.png); 
}
.zdjecie4 {
    background-image: url(../zdj/22.png); 
}
.zdjecie5 {
    background-image: url(../zdj/17.png); 
}
.zdjecie6 {
    background-image: url(../zdj/6.png); 
}

.col-portfolio1 {
    text-align: center;
    font-weight: 600;
}

.col-portfolio1 h2 {
    text-transform: uppercase;
    
}
.col-portfolio1 span {
    text-transform: none;
    display: block;   
}

.col-portfolio1 {
    padding-bottom: 5%;
}

.fa-plus {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.div-domaski {
    position: relative;
    background-color: rgba(168, 208, 230, 0.71);
    width: 100%;
    height: 300px;
    opacity: 0;  
    transition: all 0.4s;
}

.div-domaski:hover {
    opacity: 1;
}

/*sekcja team*/

.sekcja-team {
    justify-content: center;
    padding:  5% 8%;
}
/*
.sekcja-team p {
    padding:  5% 0;
}
*/

#team {
    background-color: #f0f0f0;
}

.omniefont {
    font-size: 14px;
    padding: 2% 0;
}

.team-picture {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 8%;
}

#gosia3 {
    width: 400px;
    height: 400px;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;   
    
}



.social {
    width: 30px;
    height: 30px;
    background-color: black;
    transition: all 0.4s;
    border-radius: 50%;
    margin:0  6px;
    line-height: 30px;
}

.social:hover {
    background-color: #A8D0E6;   
}

.fa-facebook, .fa-twitter, .fa-linkedin, .fa-instagram {
    color: white;   
}

.lorem-tekst {
    padding-top: 5%;
}

/* kontakt-formularz*/

.row-container {
    margin: 60px 0;
}

.send-message {
    text-transform: uppercase;
    background-color: #A8D0E6;
    color: white;  
    margin-top: 30px;
}

.send-message:hover {
    cursor: pointer;
    background-color: white ;
    color: #A8D0E6; 
    transform: 0.4s;
}

#contact {
/*    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../zdj/beach.jpg);*/
    background: rgba(0, 0, 0, 0.8) url(../zdj/beach.jpg)center no-repeat;
    background-image: url(../zdj/beach.jpg);
    background-position: center;
    background-size: cover;
/*    background-color: #F8E9A1;*/
    
    color: white; 
}

.container-contact {
    display: flex;
    justify-content: center;
}

.btn-send {
    text-align: center;
}

.form-kontakt {
    width: 100%;
}

/*footer*/

#footer  {
    margin: 1%;
}

.footer-privacy ul {
    padding: 0;
}

.footer-privacy ul li {
    list-style-type: none;
    display: inline-block;    
}

.footer-privacy ul li a {
    text-decoration: none;
    color: black;
}

.formularz {
    width: 100%;
    margin: 2% 0;
    border-radius: 5px;
    height: 200px;
}

.form-polowa {
    height: 200px;
    margin: 0 0 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.send-mesage {
    padding: 2%;
    margin: 2%;
}

input[placeholder], textarea[placeholder] {
    padding: 5px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.redlink {
    color: white;
}

.kontakt {
    font-size: 36px;
    
}

.padding {
    padding-right: 15px;
}

.flexy {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.blue-icon:hover {
    color: #A8D0E6; 
    transform: 0.4s;
    
}

/*
#before1::before {
    font-family: FontAwesome;
    content: '\f015';
}*/


.mini {
    font-size: 13px;
}

/*opinie*/
/*
.opinie-container {
    padding: 0;
}
*/
.opinia {
    padding-right: 20%;
    padding-left: 20%;
/*    padding-top: 40px;*/
    font-size: 14px;
}
.opinion {
    list-style-type: none;
}
.carousel-opinie {
    padding-top: 40px;
}
.carousel-item {
    height: 265px;
/*    background-color: rgba(240, 240, 240, 0.87);*/
/*    background-color: rgba(168, 208, 230, 0.67);*/
}
.link {
    text-align: center;
    height: 100px !important;
}

.star {
    color: #F8E9A1;
}

.opinion__content {
    border: 1px solid rgb(219, 218, 218);
    border-radius: 30px;
    padding: 20px;
}

hr {
    color: rgb(219, 218, 218);
}

.link {
    height: 30px;
    width: 60px
    border-radius: 20px;
    background-color: color: #A8D0E6; ;
    color: white;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    color: rgba(176, 219, 242, 0.74);
}

.link-btn {
    margin-top: 10px;
    background-color: rgba(176, 219, 242, 0.74);
    color: white;
    cursor: pointer;
    
}

.link-small {
    display: none;
}
/*terapia*/


#terapia-picture {
    width: 500px;
    height: 300px;
    border-radius: 2% !important;
}

#terapia {
    background-color: #f0f0f0;
}

#background-pic {
    background-image: url(../zdj/gosia.jpg);
    background-position: center;
    background-size: cover;
}

.nostyle {
    text-decoration: none !important;
    color: white !important;
}

.gosia {
    background-image: url(../zdj/gosia.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100vw;
}

.padlink {
    margin-bottom: 30px;
}