* {
    box-sizing: border-box;
}

.flipbox {
    position: relative;
    height: 300px;
    width: 300px; 
    text-align: center;
/*    border: 10px solid red;*/
    margin: 5%;
}

.flipbox:hover .front {
   transform: rotateY(180deg);
}

.flipbox:hover .back {
    transform: rotateY(0deg);
}

.front, .back {
    
    height: 100%;
    width: 100%;
    position: absolute;
    color: white;
    transition: all 0.5s; 
    line-height: 300px;
    
    
}

.back {
    background-color: orange;
    transform: rotateY(180deg);   
}

.front {
    background-color: blue;
    z-index: 10;
    backface-visibility: hidden;
    transform: rotateY(0deg);    
}

