body {
    margin: 0;
    font-family: 'Questrial', sans-serif;
    background-color: #E1B753;
}


/*nawigacja*/

.nav-beer {
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

#nav-app {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}


/*header*/

.beer {
    display: flex;
    align-content: center;
/*    overflow: hidden;*/
/*    box-sizing: border-box;*/
    height: 350px;
/*    border: 1px solid black;*/
    /*    background-color: #E2D8A3;*/
}

.beer-inside {
/*    box-sizing: border-box;*/
    width: 100%;
    height: 300px;
/*    padding: 15px;*/
    background-color: #E2D8A3;
/*    ba-ckground-color: white;*/
    transition: all 0.4s;
}

.beer-inside:hover {
    transform: scale(1.1);
/*    padding: 0;*/
/*    background-color: #98cbb0;*/
/*    color: white;*/
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.4s;
}

.beer-maska {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  
}

.beer-maska:hover {
    background-color: #789F8A;
/*    background-color: rgba(120, 159, 138, 0.77);*/
    transition: all 0.4s;

}

.beer-maska:hover .beer-name {
    color: white;
    transition: all 0.4s;
}

#beer-list {
    display: flex;
    padding-top: 100px;
    justify-content: center;
}


.beer-img img {
    height: 150px;
/*    line-height: 231px;*/
}

.beer-name {
    color: #E1694E;
    font-size: 26px;
    font-weight: 600;
}



.beer-tagline {
    
}

/*footer*/