#main-nav {
    background-color: #fff;
    position: fixed;
    z-index: 20;
    
    .row {
        .duze-col {
            display: flex;
            justify-content: flex-end;
            
            .responsive-menu {
//                &label[for="responsive-menu"] {
//                    display: none;
//                    
//                }
            
            }
            label[for="responsive-menu"] {
                display: none;

                    
                }
            
            #responsive-menu {
                display: none;
            }
            
            .list-box {
                margin: 0;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                
                .menu-item {
                    display: flex;
                    justify-content: center;
                    padding: 15px 0;
                    text-decoration: none;
                    list-style-type: none;
                    
                    a {
                        color: #1ac056;
	                    text-decoration: none;
                        
                    }
                }
            }
        }
    }
}

@media all and (max-width: 992px) {
#main-nav {

    
    .row {
        .duze-col {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-content: center;
            
            .responsive-menu:checked {
                display: flex;
                justify-content: flex-end;
            
            }
            label[for="responsive-menu"] {
                    color: #1ac056;
                    font-size: 2em;
                    padding: 10px;
                    display: flex;
                    justify-content: flex-end;  
                }
            
            #responsive-menu:checked+ul {
                    display: flex;
                    flex-direction: column;
  
            }
            
            .list-box {
                display: none;
                
                .menu-item {
                    padding: 15px;
                    justify-content: flex-end;
                    
                    a {

                    }
                }
            }
        }
    }
}
}

