/* Produkty mają się wyświetlić w 2 kolumnach*/

@media all and (max-width: 992px) {
    .zdjecie {
        width: 40%;
    }
    
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
}


/*produkty mają się wyświetlić w 1 kolumnie*/

@media all and (max-width: 480px) {
    .zdjecie {
        width: 80%;
    }
    
    .container {
        padding-right: 7.5%;
        padding-left: 7.5%;
    }
}