.main-header {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-image: url(../../img/header-background.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; }
  .main-header .header-caption .header1 {
    font-size: 4em;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px; }
    .main-header .header-caption .header1 .span1 {
      color: #1ac056;
      font-weight: 400; }
  .main-header .header-caption .header2 {
    font-size: 3em;
    font-weight: 300; }
